{% extends "proyectoWebApp/base.html" %}
{% load static %}
{% block content %}


<!--Productos-->
<section class="container mt-5">
    <div class="row"> 

        <!--Titulos-->
        <div class="row h-100 align-items-center pb-5 mb-5">
            <div class="col-6 text-white">
              <!--Title-->
              <h1 class="text-capitalize">
                <span class="text-warning h5">El lugar mas</span>
                <br />grandioso
              </h1>
              <!--Descripcion-->
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                accusantium distinctio numquam tempora commodi magnam voluptate
                modi quam quisquam vitae dolore cum repellat ipsa omnis, iste,
                animi maxime consequuntur qui?
              </p>
              <!--Button-->
              <a href="" class="text-reset btn btn-warning">Hazlo o te pego</a>
            </div>
        </div>


        <div class="col-7">
        {%for producto in productos%}

        <ul class="pt-5 mt-5">
            <li class="media">
                <img src="{{producto.imagen.url}}" alt="bote" class="media-object-img" style="height: 65px; width: 65px;">
            
            <div class="media-body">
                <h5 class="h6 mb-1 mb-1">{{producto.nombre}}</h5>
                <h4 class="h5 text-warning">${{producto.precio}}</h4>
                <p class="text-reset">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quas fugit rerum?</p>
                <div class="card-footer text-center">
                    <a href="{%url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carrito</a>
                </div>
            </div>
            
            
            </li>
        </ul> 

        {%endfor%}

        </div>

        <div class="col-5" >
           
            {% if request.user.is_authenticated %}
            
                {%include "carro/widget.html"%}
    
            {% else %}
    
                <p>Inicia sesion para seguir con tu pedido</p>
    
            {% endif %}
            
        </div>
    </div>

    

</section>

<footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
    </p>
      <p class="m-0 mbt">
        <a href="sample.html" class="link">Política de privacidad</a> ·
        <a href="sample.html" class="link">Aviso legal</a> ·
        <a href="sample.html" class="link">Cookies</a>
  </p>
      <p class="m-0 mbt1">&copy; Gestión de Pedidos 2023</p>
    </div>
</footer>



{% endblock %}